<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.mrzhqiang.testparentactivity">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--启动页面，设为singleTask时，如果需要退出登录，可以先回到启动页，然后打开登录页面；-->
        <activity
            android:name=".launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="登录页面"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionbar">

        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="主页"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".other.MessageActivity"
            android:label="消息页面"/>

        <activity
            android:name=".other.ChatActivity"
            android:parentActivityName=".other.MessageActivity"
            android:label="聊天页面"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.mrzhqiang.testparentactivity.other.MessageActivity">
            </meta-data>
        </activity>

        <service android:name=".service.LogService"/>
    </application>

</manifest>